@{
    ViewBag.Title = "AngularJS 資料繫結練習";
}

<h2>AngularJS 資料繫結練習</h2>

<p>請於本頁練習以下的資料繫結</p>
<ol>
    <li class="ng-non-bindable">請使用 {{ }} 進行 inline 資料繫結</li>
    <li>請使用 ng-bind 進行單向資料繫結</li>
    <li>請使用 ng-model 進行雙向資料繫結</li>
</ol>
@*ng-app="myApp" 創建一個app*@
@*ng-init=" " 設定初始值*@
<div ng-app="myApp" ng-init="firstName='John';">
    <h2>Q1</h2>
    @*{{ 這就是 inline 資料繫結}}*@
    <p>我的名子是：{{firstName}}</p>

    <h2>Q2</h2>
    @*ng-bind=""*@
    <p>我的名子是：<span ng-bind="name || 'John'"></span></p>

    <h2>Q3</h2>
    @*ng-model="name" 繫結到 name 的都會改變*@
    <label>Name:</label>
    <input type="text" ng-model="name" placeholder="Enter a name here">
    <h1>Hello <span ng-bind="name || 'AngularJS'"></span>!!</h1>

    <h2></h2>
    <runoob-directive></runoob-directive>

</div>

<script>
    var app = angular.module("myApp", []);
    app.directive("runoobDirective", function () {
        return {
            template: "<h1>自定义指令!</h1>"
        };
    });
</script>