@{
    ViewBag.Title = "AngularJS Filter 練習";
}

<h2>AngularJS Filter 練習</h2>

<p>請於本頁進行以下的 Filter練習</p>
<ol>
    <li>請練習每個對單一資料進行格式化的 Filter</li>
    <li>請練習每個對資料集合進行處理的 Filter</li>
</ol>
<div ng-app="myApp" ng-controller="demoCtrl" @*class="demo"*@>
    <h2>Q1</h2>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.id}}</td>
                <td>{{item.name | uppercase}}</td>
                <td>{{item.amount | currency}}</td>
            </tr>
        </tbody>
    </table>
    <h2>Q2</h2>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | limitTo:2">
                <td>{{item.id}}</td>
                <td>{{item.name | uppercase}}</td>
                <td>{{item.amount | currency}}</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>amount</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items | filter:{name:'Kai'}">
                <td>{{item.id}}</td>
                <td>{{item.name | uppercase}}</td>
                <td>{{item.amount | currency}}</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>amount</th>
            </tr>
        </thead>
        <tbody>
            @*orderBy 大小寫要打對 *@
            <tr ng-repeat="item in items | orderBy:'amount'">
                <td>{{item.id}}</td>
                <td>{{item.name | uppercase}}</td>
                <td>{{item.amount | currency}}</td>
            </tr>
        </tbody>
    </table>
</div>



@section scripts{
    <script type="text/javascript">
        var myApp = angular.module("myApp", []);

        myApp.controller("demoCtrl", function ($scope) {
            $scope.items = [
                { id: 1, name: 'Jani', amount: 54321 },
                { id: 2, name: 'Hege', amount: 7654321 },
                { id: 3, name: 'Kai', amount: 321 },
            ];
        });
    </script>
}
