@{
    ViewBag.Title = "AngularJS Template Directive 練習";
}

<h2>AngularJS Template Directive 練習</h2>

<p>請於本頁練習以下的Template Directive</p>
<ol>
    <li>請練習 ng-repeat</li>
    <li>請使用 ng-include 載入HTML文件</li>
</ol>

<div ng-app="" ng-init="names=['Jani','Hege','Kai']">
    <h2>Q1</h2>
    <p>使用 ng-repeat </p>
    <ul>
        @*ng-repeat="item in 陣列" 有點像foreach 遍歷陣列中的所有元素*@
        <li ng-repeat="x in names">
            {{ x }}
        </li>
    </ul>
    <h2>Q2</h2>
    <p>使用 ng-include </p>
    <ng-include src="'@Url.Content("~/Content/html/Page1.html")'"></ng-include>
    @*不知道差別在哪*@
    <div ng-include="'../../Content/html/Page1.html'"></div>
    <span style="color:darkred">注意：src字串中，需要再以單引號將url包起來才可正確載入該HTML文件</span>

</div>

