/*PURPLE*/
/*button*/
.k-button {
    background: none;
    background-color: #a0adbd;
    border: none;
    color: white;
}

    .k-button:hover {
        background: none;
        background-color: #83648e;
        border: none;
        color: white;
    }

    .k-button:focus {
        background: none;
        background-color: #83648e;
        border: none;
        color: white;
    }

    .k-button:active {
        background: none;
        background-color: #83648e;
        border: none;
        color: white;
    }

/*dropdownlist*/
.k-list .k-state-selected {
    background: none;
    background-color: #82648f;
    border: none;
    color: white;
}

.k-list .k-state-hover {
    background: none;
    background-color: black;
    color: white;
}

/*footer*/
footer {
    background-color: black;
    color: white;
}

/*menu*/
#container nav {
    background: url(../styles/images/left_bg.jpg) repeat-y left top;
}

    #container nav .k-menu .k-item {
        background: url(../styles/images/left_bg.jpg) repeat-y left top;
    }

        #container nav .k-menu .k-item .k-link {
            color: black;
        }

            #container nav .k-menu .k-item .k-link:hover {
                color: white;
            }

    #container nav .k-menu .k-state-hover {
        background: none;
        background-color: black;
        color: white;
    }

    #container nav .k-menu .k-link.k-state-active {
        background-color: black;
    }

    #container nav .k-menu .k-state-selected {
        background-color: #82648f;
    }

/*tabs*/

/*fn-path*/

/*.fn-buttons*/
.fn-buttons .k-button {
    background: none;
    background-color: #a0adbd;
    color: white;
}

    .fn-buttons .k-button:hover {
        background: none;
        background-color: #83648e;
    }

    .fn-buttons .k-button:active {
        background: none;
        background-color: #83648e;
        border: none;
    }

.fn-buttons .k-button-icon {
    background: none;
}

    .fn-buttons .k-button-icon:hover {
        background: none;
    }

    .fn-buttons .k-button-icon .k-icon {
        color: black;
    }

.fn-buttons .k-overflow-container {
    background-color: white;
}

.k-toolbar-first-visible .k-overflow-button {
    background-color: #82648f;
}

.fn-buttons .k-overflow-button:hover {
    background-color: black;
}

/*grid*/
.k-grid .k-grid-header {
    background-color: #d7d7e8;
    border-bottom: 3px solid lightgray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

    .k-grid .k-grid-header .k-grid-header-wrap {
        border: none;
    }

    .k-grid .k-grid-header th {
        background-color: #d7d7e8;
        color: black;
    }

.k-grid .k-grid-content .k-grid-header-wrap tr:hover {
    background: none;
    background-color: #dcdddf;
}

.k-grid .k-grid-content tr.k-state-selected {
    background: inherit;
    color: black;
}

    .k-grid .k-grid-content tr.k-state-selected:hover {
        background: #e8e8f5;
    }

.k-grid .k-pager-wrap {
    background-color: #d7d7e8;
    border-top: 1px solid lightgray;
}

    .k-grid .k-pager-wrap .k-link:hover {
        background: none;
        background-color: #3ba9f6;
        border: none;
        color: white;
    }

    .k-grid .k-pager-wrap .k-link .k-icon {
        color: white;
    }

.k-grid .k-pager-numbers .k-state-selected {
    color: white;
    background-color: #82648f;
}
