@{
    ViewBag.Title = "首頁";
}

<h1>NEC應用練習題</h1>

<table>
    <tr>
        <td style="vertical-align:top;">
            <h2>軟體需求</h2>
            <ol>
                <li>Visual Studio 2013 (或是使用Visual Studio 2012)</li>
                <li>jQuery 1.11.3</li>
                <li>jQuery UI 1.11.4 </li>
                <li>AngularJS 1.4.* (stable版本)</li>
                <li>Entity Framework 6</li>
            </ol>

            <h2>練習要求</h2>
            <ol>
                <li>使用 ASP.NET MVC 4 專案，只使用 Controller，不使用 WebAPI</li>
                <li>Client 端主要使用 AngularJS</li>
                <li>資料庫存取採用 Entity Framework 6</li>
            </ol>

            <h2>專案說明</h2>
            <ol>
                <li>為 ASP.NET MVC 4 專案</li>
                <li>主版頁面 _Layout.cshtml 已引用 jQuery、jQuery UI、AngularJS 的 .js 程式</li>
                <li>主版頁面 _Layout.cshtml 已引用 jQuery UI 所需的 CSS樣式</li>
                <li>Entity Framework 已改為引用 Entity Framework 6</li>
                <li>已於 App_Data目錄 增加本地端資料庫 TestDB.mdf</li>
                <li>已於 Models目錄 建立 TestDB.mdf 資料庫的 Data Model</li>
            </ol>
        </td>
        <td style="vertical-align:top;padding-left:50px;">
            <h2>AngularJS與MVC應用練習</h2>
            <ol>
                <li>@Html.ActionLink("AngularJS 與 MVC 做查詢新增修改刪除 練習", "UnityPractice", "UnityPractice")</li>
            </ol>
            <h2>AngularJS與MVC應用範例</h2>
            <ol>
                <li>@Html.ActionLink("使用 AngularJS 與 MVC 做新增查詢", "UnityDemo", "UnityDemo")</li>
            </ol>
        </td>
    </tr>
</table>

