@{
    ViewBag.Title = "AngularJS Ajax Request 練習";
}

<h2>AngularJS Ajax Request 練習</h2>
<p>請於本頁進行以下的 Ajax 練習</p>
<ol>
    <li>以 get 方式從 server端 取得資料</li>
    <li>以 post 方式將資料送至 server端，並取得回應資料</li>
</ol>
<div ng-app="example" ng-controller="testCtrl">
    <button class="ui-button-text" ng-click="getData()">Get</button>
    <button class="ui-button-text" ng-click="postData()">Post</button>
    <table class="list-table">
        <thead>
            <tr>
                <th>SupId</th>
                <th>FirmNo</th>
                <th>FirmName</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td ng-bind="item.SupId"></td>
                <td>{{item.FirmNo}}</td>
                <td>{{item.FirmName}}</td>
            </tr>
        </tbody>
    </table>
    
</div>


@section Scripts{
    <script>
        var myApp = angular.module("example", []);
        myApp.controller("testCtrl", function ($scope, $http) {
            $scope.getData = function () {
                $http.get('@Url.Action("GetItemss", "Ajax")')
                    .success(function (data) {
                        $scope.items = data;
                    });
            };
            var data = { SupId: "123", FirmNo: "qwer", FirmName: "asdf" };
            
            $scope.postData = function () {
                
                $http.post("@Url.Content("~/Ajax/PostData")", data)
                    .success(function (data) {
                    //alert("success");
                    console.log(data);
                    $scope.items = data;
                });
                
            };
        });
    </script>
} 