@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link href="~/Content/login.css" rel="stylesheet" type="text/css" />
@Html.Partial("_AnnounceList")

<div id="textPin"></div>
@section scripts {
    <script>
        $(function () {
           // $.removeCookie('i18N');

        });
    </script>
}