@{
    ViewBag.Title = Resources.MvcSitemap.Sample_7;
}
@section buttons {
}
@section forms {
    <ul id="treeSQL" style="overflow:auto;height:150px;">
        <li>
            <h4>SQL Table</h4>
            <ul>
                <li>
                    <h5>FLOW_SET - 流程主檔</h5>
                    <ul></ul>
                </li>
                <li><h5>FLOW_PREARRANGE</h5></li>
                <li><h5>FLOW_ROLE</h5></li>
                <li><h5>FLOW_SETDETAIL</h5></li>
                <li><h5>FLOW_SIGNEDLOG</h5></li>
                <li><h5>SUBFLOW_PREARRANGE</h5></li>
            </ul>
        </li>
        <li>
            <h4>SQL View</h4>
            <ul>
                <li><h5>V_FLOW_ActiveList</h5></li>
                <li><h5>V_SUBFLOW_List</h5></li>
                <li><h5>V_USER_FLOWROLE</h5></li>
            </ul>
        </li>
        <li>
            <h4>SQL Stored Procedure</h4>
            <ul>
                <li><h5>usp_FLOW_GetDetail</h5></li>
                <li><h5>usp_FLOW_SetAccept</h5></li>
                <li><h5>usp_FLOW_SetActive</h5></li>
                <li><h5>usp_FLOW_SetDeactive</h5></li>
                <li><h5>usp_FLOW_SetReject</h5></li>
                <li><h5>usp_SUBFLOW_GetDetail</h5></li>
                <li><h5>usp_SUBFLOW_SetAccept</h5></li>
                <li><h5>usp_SUBFLOW_SetActive</h5></li>
                <li><h5>usp_SUBFLOW_SetDeactive</h5></li>
            </ul>
        </li>
        <li>
            <h4>SQL Function</h4>
            <ul>
                <li><h5>fn_GetFlowMapRole</h5></li>
                <li><h5>fn_Split</h5></li>
                <li><h5>fn_ChkFlowExecute</h5></li>
                <li><h5>fn_ChkSubFlowExecute</h5></li>
                <li><h5>fn_GetAgentDisplay</h5></li>
                <li><h5>fn_GetFlowMapUser</h5></li>
                <li><h5>fn_GetSetParam</h5></li>
                <li><h5>fn_GetUsersOrgId</h5></li>
                <li><h5>fn_HasSubFlow</h5></li>
                <li><h5>fn_HasSubFlowExecute</h5></li>
            </ul>
        </li>
    </ul>
}
<h3>啟動流程</h3>
<h4>(啟動主流程) FlowSet.Flow().SetActive(strFlowId, strSenderUserId)</h4>
<pre>
<i>
    strFlowId => 流程設定代碼
    strSenderUserId => 使用者代碼
    return {
        SUCCESS: {true|false},
        MESSAGE: {執行訊息},
        RESULT: [{has_signed,has_subflow,flow_code,sort_order,base_odr,status,status_name,org_id,org_name,role_id,role_name,user_id,user_name,user_email,memo,mdf_date]
    }
</i>
</pre>
<h4>(啟動分會流程) FlowSet.Flow().SetSubActive(strFlowId, strSenderUserId, strFlowUserId, strFlowCode)</h4>
<pre>
<i>
    strFlowId => 流程設定代碼
    strSenderUserId => 使用者代碼
    strFlowUserId => 分會使用者代碼
    strFlowCode => 主流程代碼
    return {
        SUCCESS: {true|false},
        MESSAGE: {執行訊息},
        RESULT: [{has_signed,flow_code,sort_order,status,status_name,org_id,org_name,role_id,role_name,user_id,user_name,user_email,memo,mdf_date}]
    }
</i>
</pre>
<h3>取得執行流程</h3>
<h4>(取得執行中主流程) FlowSet.Log().GetFlowList()</h4>
<pre>
<i>
    return [{flow_code,has_subflow,status,status_name,org_id,org_name,role_id,role_name,user_id,user_name,user_email,flow_decision,flow_option,mdf_date,mdf_user_id,mdf_user_name}, ...]
</i>
</pre>
<h4>(取得指定使用者待簽核流程代碼)  FlowSet.Log().GetUserList(string strUserId)</h4>
<pre>
<i>
    strUserId => 使用者代碼
    return [{flow_code, sub_flow_code, is_subflow}, ...]
</i>
</pre>
<h3>取得流程執行歷程</h3>
<h4>(取得主流程歷程) FlowSet.Log().GetFlowDetail(strFlowCode, onlyActLev = false)</h4>
<pre>
<i>
    strFlowCode => 主流程執行代碼,
    onlyActLev => 只回傳簽核中關卡
    return [{has_signed,has_subflow,flow_code,sort_order,base_odr,status,status_name,org_id,org_name,role_id,role_name,user_id,user_name,user_email,memo,mdf_date}, ...]
</i>
</pre>

<h4>(取得流程關卡對應分會流程代碼) FlowSet.Log().GetSubflowCodeList(string strFlowCode, int intSignedOdr)</h4>
<pre>
<i>
    strFlowCode => 主流程執行代碼,
    intSignedOdr => 流程關卡順序
    return [{sub_flow_code}, ...]
</i>
</pre>
<h4>(取得分會流程歷程) FlowSet.Log().GetSubFlowDetail(strSubFlowCode, onlyActLev = false)</h4>
<pre>
<i>
    strSubFlowCode => 分會流程執行代碼,
    onlyActLev => 只回傳簽核中關卡
    return [{has_signed,flow_code,sort_order,status,status_name,org_id,org_name,role_id,role_name,user_id,user_name,user_email,memo,mdf_date}, ...]
</i>
</pre>
<h3>設定流程通過或是退回</h3>
<h4>(主流程通過關卡) FlowSet.Flow().SetAccept(strFlowCode, strSenderUserId, strSignedMemo, bolSignedDecision = false)</h4>
<pre>
<i>
    strFlowCode => 主流程執行代碼,
    strSenderUserId => 使用者代碼,
    strSignedMemo => 執行註記,
    bolSignedDecision => {true|false 決行通過全關}
    return {
        SUCCESS: {true|false},
        MESSAGE: {執行訊息},
        RESULT: [{has_signed,has_subflow,flow_code,sort_order,base_odr,status,status_name,org_id,org_name,role_id,role_name,user_id,user_name,user_email,memo,mdf_date}]
    }
</i>
</pre>
<h4>(主流程退回關卡) FlowSet.Flow().SetReject(strFlowCode, strSenderUserId, strSignedMemo = "", bolRefuseAll = false)</h4>
<pre>
<i>
    strFlowCode => 主流程執行代碼,
    strSenderUserId => 使用者代碼,
    strSignedMemo => 執行註記,
    bolrefuseAll => {true|false 退回到第一關}
    return {
        SUCCESS: {true|false},
        MESSAGE: {執行訊息},
        RESULT: [{has_signed,has_subflow,flow_code,sort_order,base_odr,status,status_name,org_id,org_name,role_id,role_name,user_id,user_name,user_email,memo,mdf_date}]
    }
</i>
</pre>
<h4>(分會流程通過關卡) FlowSet.Flow().SetSubAccept(strSubFlowCode, strSenderUserId, strSignedMemo)</h4>
<pre>
<i>
    strSubFlowCode => 分會流程執行代碼,
    strSenderUserId => 使用者代碼,
    strSignedMemo => 執行註記,
    return {
        SUCCESS: {true|false},
        MESSAGE: {執行訊息},
        RESULT: [{has_signed,flow_code,sort_order,status,status_name,org_id,org_name,role_id,role_name,user_id,user_name,user_email,memo,mdf_date}]
    }
</i>
</pre>
<h3>關閉流程</h3>
<h4>(關閉主流程及所有分會流程) FlowSet.Flow().SetDeactive(strFlowCode, strSenderUserId, strSignedMemo = "")</h4>
<pre>
<i>
    strFlowCode => 主流程執行代碼,
    strSenderUserId: 使用者代碼,
    strSignedMemo => 執行註記,
    return {
        SUCCESS: {true|false},
        MESSAGE: {執行訊息},
        RESULT: ""
</i>
</pre>
<h4>(關閉分會流程) FlowSet.Flow().SetSubDeactive(strSubFlowCode, strSenderUserId, strSignedMemo = "")</h4>
<pre>
<i>
    strSubFlowCode => 分會流程執行代碼,
    strSenderUserId: 使用者代碼,
    strSignedMemo => 執行註記,
    return {
        SUCCESS: {true|false},
        MESSAGE: {執行訊息},
        RESULT: ""
</i>
</pre>
@section scripts {
    <script>
        $(function () {
            $('#treeSQL').kendoTreeView();
        });
    </script>
}

